[Desktop Entry]
Icon=text-html
Name=Wiki
Type=Link
URL[$e]=https://www.canva.com/design/DAHDQrJIpv8/8Mp6PS0vwffI0m75INz3yg/edit?utm_content=DAHDQrJIpv8&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton
